//
// Dropdown menus
// --------------------------------------------------


// The dropdown menu (ul)
.dropdown-menu {
  margin: 0 0 0; 
  box-shadow: none;
  font-family: @headings-font-family;
}

// Dropdown section headers
.dropdown-header {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .1em;
}


