
fieldset, label, input, textarea, .form-control {
  font-family: @headings-font-family;
  font-size: @font-size-base;
  line-height: @line-height-base;
  box-shadow: none;

  +:focus {
    box-shadow: none;
  }
}

input, textarea, .form-control {
    border: none;
    border-bottom: solid 2px @input-border;
    box-shadow: none !important;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: 1px;
    border-radius: 0;

    &[disabled] {
        color: #fff;
        padding: 6px;
        border-color: darken(@gray-lighter, 20%);
        background-color: transparent;
    }

    &.input-lg {
      font-size: 1.2em;
    }
}

textarea, textarea.form-control, select, select.form-control {
    border: solid 2px @input-border;
    padding: 6px;
}


legend {
  padding-bottom: 0.33em;
  font-family: @headings-font-family;
}

.form-horizontal .control-label {
  padding-top: @padding-base-vertical;
  padding-bottom: @padding-base-vertical;
}

